<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chatvt">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <!-- If you don't know the MIME type in advance, set "mimeType" to "*/*". -->
      <data android:mimeType="*/*" />
    </intent>
  </queries>

  <application>
    <provider
      android:name="com.chatvt.FileProvider"
      android:authorities="${applicationId}.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_viewer_provider_paths"
      />
    </provider>

  </application>
</manifest>
